<?xml version='1.0' encoding='utf-8'?>
<widget id="by.express_pizza.express_pizza" version="3.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <preference name="phonegap-version" value="cli-9.0.0" />

    <name>Express Pizza</name>
    <description>Доставка пиццы на дом и в офис в Минске. Пиццы, салаты, соки и напитки.
    </description>
     <author email="express.pizza.minsk@gmail.com" href="https://express-pizza.by">
        Express Pizza
    </author>
    <content src="index.html" />
    <access origin="*" />
    <access origin="https://express-pizza.by" />
    <access origin="https://express-pizza.by/groupjson" />
    <access origin="http://express-pizza.by" />
    <allow-intent href="https://express-pizza.by/*" />
    <allow-intent href="http://express-pizza.by/*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-navigation href="*" />
    <platform name="android">
        <preference name="android-targetSdkVersion" value="28" />
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <preference name="BackupWebStorage" value="none" />
    </platform>


<preference name="StatusBarOverlaysWebView" value="true" />
<preference name="StatusBarStyle" value="default" />

 <preference name="SplashScreenDelay" value="1000"/>
 <preference name="AutoHideSplashScreen" value="true" />

     <preference name="EnableViewportScale" value="true" />

    <plugin name="cordova-plugin-whitelist" spec="~1.2.0" />
 <!--   <plugin name="cordova-plugin-console" spec="~1.0.1" /> -->


    <plugin name="cordova-plugin-splashscreen" spec="~3.1.0" />



<icon src="icon.png"  />
 <splash src="splash.png" />

  <platform name="ios">
    <!-- iPhone 6 / 6+ -->
<icon src="icon-60@3x.png" platform="ios" width="180" height="180" />

<!-- iPhone / iPod Touch  -->
<icon src="icon-60.png" platform="ios" width="60" height="60" />
<icon src="icon-60@2x.png" platform="ios" width="120" height="120" />

<!-- iPad -->
<icon src="icon-76.png" platform="ios" width="76" height="76" />
<icon src="icon-76@2x.png" platform="ios" width="152" height="152" />
<icon src="icon-83.5@2x.png" platform="ios" width="167" height="167" />

<!-- Settings Icon -->
<icon src="icon-small.png" platform="ios" width="29" height="29" />
<icon src="icon-small@2x.png" platform="ios" width="58" height="58" />
<icon src="icon-small@3x.png" platform="ios" width="87" height="87" />

<!-- Spotlight Icon -->
<icon src="icon-40.png" platform="ios" width="40" height="40" />
<icon src="icon-40@2x.png" platform="ios" width="80" height="80" />
<icon src="icon-40@3x.png" platform="ios" width="120" height="120" />

      <icon src="icon-1024.png" platform="ios" width="1024" height="1024" />

      <!-- images are determined by width and height. The following are supported -->
      <splash src="res/screen/ios/Default~iphone.png" width="320" height="480"/>
      <splash src="res/screen/ios/Default@2x~iphone.png" width="640" height="960"/>
    <!--  <splash src="res/screen/ios/Default-Portrait~ipad.png" width="768" height="1024"/> -->
      <splash src="res/screen/ios/Default-Portrait@2x~ipad.png" width="1536" height="2048"/>
      <splash src="res/screen/ios/Default-Landscape~ipad.png" width="1024" height="768"/>
      <splash src="res/screen/ios/Default-Landscape@2x~ipad.png" width="2048" height="1536"/>
      <splash src="res/screen/ios/Default-568h@2x~iphone.png" width="640" height="1136"/>
      <splash src="res/screen/ios/Default-667h.png" width="750" height="1334"/>
      <splash src="res/screen/ios/Default-736h.png" width="1242" height="2208"/>
    <!--  <splash src="res/screen/ios/Default-Landscape-736h.png" width="2208" height="1242"/>  -->
  </platform>


  <icon src="ldpi.png" platform="android" qualifier="ldpi" />
  <icon src="mdpi.png" platform="android" qualifier="mdpi" />
  <icon src="hdpi.png" platform="android" qualifier="hdpi" />
  <icon src="xhdpi.png" platform="android" qualifier="xhdpi" />
  <icon src="xxhdpi.png" platform="android" qualifier="xxhdpi" />
  <icon src="fr-xxhdpi.png" platform="android" qualifier="fr-xxhdpi" />

  <splash src="screen-ldpi-portrait.png" platform="android" qualifier="port-ldpi" />
  <splash src="screen-mdpi-portrait.png" platform="android" qualifier="port-mdpi" />
  <splash src="screen-hdpi-portrait.png" platform="android" qualifier="port-hdpi" />
  <splash src="screen-xhdpi-portrait.png" platform="android" qualifier="port-xhdpi" />
  <splash src="screen-ldpi-landscape.png" platform="android" qualifier="land-ldpi" />
  <splash src="screen-mdpi-landscape.png" platform="android" qualifier="land-mdpi" />
  <splash src="screen-hdpi-landscape.png" platform="android" qualifier="land-hdpi" />
  <splash src="screen-xhdpi-landscape.png" platform="android" qualifier="land-xhdpi" />


</widget>
