@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300,700&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700&subset=latin,cyrillic);

body{
font-family: 'Roboto', sans-serif;
  font-weight: 300;
}
body.with-panel-left-reveal .panel-overlay {
    margin-left: 260px;
    opacity: 0.1;
    background: #212121;
}
.navbar, .toolbar {
  background: #ff151f none repeat scroll 0 0;
}
.navbar .center {
    color: #fff;
    font-size: 22px;
    font-weight: bold;
}
.navbar, .toolbar {
    font-size: 26px;
}
.navbar a.link, .toolbar a.link {
    color: #fff;
}
.panel {
    background: rgb(162, 9, 9) none repeat scroll 0 0;
}
.page {
  /*  background: #efeff4 url("../img/bg.jpg") no-repeat fixed left center; */
}
.page {
    background: #fff;
}
.title-logo {
    max-height: 40px;
    max-width: 100%;
}
.swiper-slide span {
  text-align:center;
  display:block;
}
.swiper-container {
  width: 100%;
    text-align: center;
}
.swiper-slide img {
  max-width: 100%;
  max-height: 100%;
    margin: 0 auto;
}
.swiper-2 .swiper-slide {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    width: 200px;
}
.swiper-2  .swiper-slide span {
  text-align:center;
  display:block;
  margin: 10px;

}
.list-block ul {
    background: transparent;
}
.content-block-title {
  color: #FFF;
  font-size: 24px;
  font-family: "Roboto",sans-serif;
  /* font-weight: bold; */
      margin: 10px auto;
    max-width: 640px;
}
.content-block {
    margin: 10px auto;
    max-width: 640px;
}
.content-block.tablet-inset {
    margin: 10px auto;
    max-width: 640px;
}
.content-block-inner {
    border-radius: 7px;
	background: rgba(255, 255, 255, 0.85);
}
.content-block-inner:before {
    background-color: transparent;
}
.tovari .content-block-inner:after {
    background-color: transparent;
}
.product-title {
font-family: "Roboto",sans-serif;
font-size: 16px;
 color: #000000;
}
.product-price {
font-weight: bold;
font-size: 16px;
}

.tabbar a.active {
    color: #3c6b91;
}

.center {
text-align: center;
}
.view-main  .list-block {
    margin: 10px auto 40px;
    max-width: 640px;

}
.list-block  .icon {
font-size: 24px;
}
.close-popup {
    color: #ff151f;
    font-size: 20px;
}
.popup {
    background: rgba(255, 255, 255, 0.9);
}
.swiper-pagination-bullet-active {
  background: #3c6b91;
}

.main-list.list-block {
  margin: 10px 0 0 0;
  font-size: 17px;
}

.main-list i.icon {
  color: #8e8e93;
}

.main-list.list-block li a{
 color: #000000;
font-family: 'Roboto', sans-serif;
  font-weight: 300;

}
.panel .list-block .item-content {
    background: transparent;
    border-bottom: 0;
}
.panel ul {
    border-bottom: 0px;
    border-top: 0;
    box-shadow: none;
}
.panel .list-block i {
  color: #fafafa;
  font-size: 25px;
  font-weight: 100;
}
.panel .list-block .item-link .item-inner {
  background: none;
  border-bottom: 0px;
}
.panel .list-block .item-title {
  color: #fafafa;
}
.panel .list-block .item-link:active{background-color:#5884aa;}

.panel .list-block ul::before {
    background-color: #DEC4C4;
}

.panel .list-block .badge {
    background: #fafafa none repeat scroll 0 0;
    color: #555;
}
.panel .list-block .item-inner:after {
    background-color: transparent;
}
.categories div[class*="col-"] {
  text-align: center;
  color: #000;
  padding: 5px;
}
.categories .row {
  margin-bottom: 15px;
}
div.categories .row i.icon {
    border-radius: 25px;
    color: #fff;
    font-size: 29px;
    height: 40px;
    width: 40px;
}
div.categories .row .product-title {
  font-family: "Roboto Condensed", san-serif;
    font-size: 12px;
}
.page.login {
    background: #efeff4 url("/login.jpg") repeat scroll center center;

}
.content-block.login-logo {
    margin: 0 auto;
    max-width: 350px;
    padding: 15px;
}
.content-block.login-logo .logo {
    border-bottom: 4px dotted #fff;
    margin-bottom: 0;
    max-width: 350px;
    padding: 0;
}
.login-logo img {
    height: auto;
    max-height: 80px;
    width: 100%;
}
.content-block.login-logo .slogan {
    color: #fff;
    font-size: 19px;
    max-width: 350px;
    padding: 3px 0;
    text-align: center;
}
.login-buttons {
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
}
.icon.align-right {
    position: absolute;
    right: 0;
    top: 0;
}
a.cart-link {
  /*  width: 100%; */
}
.list-block li.tovari {
    min-height: 120px;
    border-bottom: 1px solid #ccc;
}
.list-block li .item-inner:after {
    background: transparent;
}
.list-block.media-list li.tovari .item-media {
     padding: 10px;
     float: left;
     width: 120px;
     position: relative;
     z-index: 5;
}
.list-block.media-list li.tovari .item-inner {
    min-height: 120px;
    position: relative;
    z-index: 4;
    padding-left: 5px;
        overflow: inherit;
}
.list-block li.tovari .item-media+.item-inner {
    margin-left: 0;
}
.list-block .item-subtitle {
    white-space: normal;
    margin-right: 39px;
}
.tovar-page .list-block .item-subtitle {
    margin-bottom: 19px;
}
.list-block li.tovari .item-title {
    white-space: normal;
    margin-right: 33px;
}
.item-text.controls {
    width: 45px;
    height: 111px;
    position: absolute;
    right: 3px;
    top: 7px;
}
.item-text.controls .qty {
    font-size: 18px;
    text-align: center;
    display: inline-block;
    margin: 0px 1px;
    color: #000;
    width: 37px;
}
.item-text.controls .button.button-big {
    font-size: 24px;
    height: 40px;
    line-height: 40px;
    width: 40px;
}
li.tovari .price {
    font-size: 22px;
    line-height: 18px;
    font-weight: bold;
    color: #5d5d61;
    margin-left: 115px;
    position: absolute;
    bottom: 8px;
}
.cart-page li.tovari .price {
    position: absolute;
    left: 5px;
    bottom: 5px;
    margin-left: 0;
}
li.tovari.active {
    background: rgba(241, 255, 208, 0.8);
}
.toolbar-inner {
    color: #fff;
}
.toolbar i.icon {
    display: inline-block;
}
fieldset {
    border: 0;
}
label.label-checkbox input[type=checkbox]:checked+.item-media i.icon-form-checkbox, label.label-checkbox input[type=radio]:checked+.item-media i.icon-form-checkbox {
    border: none;
    background-color: #4CD964;
}
.right {
text-align: right;
}
.popup img{
    width: 100%;
}
.pull-to-refresh-layer .preloader {
    background: rgba(0, 0, 0, 0.32);
    padding: 5px;
    border-radius: 26px;
}
.checkout-page .total {
    padding: 0 5px;
}
.list-block li.media-item .item-media img, .list-block.media-list .item-media img {
    display: block;
    background: transparent;
    border-radius: 3px;
}
.swiper-slide {
    background: #fff;
    box-sizing: border-box;

}
.swiper-slide span {
    text-align:center;
    display:block;
    margin: 20px;
    font-size:21px;
}
.swiper-container {

}
.list-block .group-link {
    height: 60px;
}
.list-block .group-link .item-title-row {
    margin: 8px;
    font-size: 20px;
}
.tovari .badge {
    position: absolute;
    right: 56px;
    bottom: 7px;
}

.list-block .price50, .list-block .plus50, .list-block .pizza .minus, .list-block .mark50 {
    display:none;
}
 .list-block .action50.pizza .plus, .list-block .action50.pizza .minus50 {
    display:none;
}
.list-block .action50 .price50, .list-block .action50 .plus50, .list-block .pizza.action50 .minus, .list-block .action50 .mark50 {
    display:block;
}
.cart-page .pizza50 .plus, .cart-page .pizza50 .minus {
    visibility:hidden;
}
.list-block .mark50 {
    position: relative;
    font-size: 18px;
    font-weight: bold;
    margin-right: 60px;
    min-height: 100px;
    text-align: left;
    left: 10px;
    color: #000;
    animation-name: action-50;
    animation-duration: 4s;
    animation-iteration-count: 50;
    /* text-shadow: 1px 1px 1px #ff0000, 1px -1px 1px #ff0000, -1px 1px 1px #ff0000, -1px -1px 1px #ff0000; */
}
.mark50 .item-title {
    margin-left: 110px;
}
.tovar-page .action50 .item-title-row {
    opacity: 0.3;
}
.tovar-page .action50 .item-after.price {
    opacity: 0.3;
}
.tovar-page .action50 .item-subtitle {
    opacity: 0.3;
}
.tovar-page .action50 .badge {
    opacity: 0.3;
}
.action50 .item-after.price.price50 {
    position: relative;
    left: 113px;
    margin-left: 0;
    text-align: left;
    line-height: 40px;
    opacity:1;
}
.tovar-page .action50 .item-text.controls {
    top: auto;
    bottom: -100px;
}
.tovar-page .list-block.media-list li.tovari.action50 .item-media {
    bottom: -100px;
}
.tovar-page li.tovari.action50 {
    background: #fff700;
}
.economy {
    padding: 0px 10px;
    font-size: 20px;
    color: #ff0000;
    font-weight: bold;
}
.economy .icon {
    color: #ffeb00;
    font-size: 50px;
    text-shadow: 1px 1px 1px #ff0000, 1px -1px 1px #ff0000, -1px 1px 1px #ff0000, -1px -1px 1px #ff0000;
}
.cart-bar .button.button-big {
    font-weight: bold;
    font-size: 22px;
}
.cart-link i.icon, .checkout-link i.icon {
    font-size: 19px;
}
.cart-back-link i.icon {
    font-size: 11px;
}
.item-after.cart-price, .item-after.cart-price50 {
    font-weight: bold;
    color: #525252;
}
